/* Importing google fonts */
/* Do this for every css you make */
/* Copy the font family to  *  as well */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 380;
    letter-spacing: 1px;
    /* transition: 5s ease-in-out; */
}

html::-webkit-scrollbar {
    width: 5px; 
 }

html::-webkit-scrollbar-track {
  background-color: #daffd5;
}

html::-webkit-scrollbar-thumb {
  background: rgb(14, 71, 14);
}

/* Copy the navpar css as well */
/* Navabar Beggining */

body{
    align-items: center;
    background-color: #daffd5;
}
.navbar{
    display: flex;
    padding: 5px;
    background-image: linear-gradient(rgb(14, 71, 14),rgb(26, 124, 1),rgb(36, 181, 13));
    align-items: center;
    position: fixed;
    z-index: +50;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: -120px;
}
.navbar .logo{
    cursor: pointer;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 35px;
    margin-left: 20px;
    font-family: 'Sono', sans-serif;    
}
.navbar .right{
    display: flex;
    justify-content: end;
    width: 100vw;
    padding: 20px 5px;
    margin-left: -240px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar .right .about{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.navbar .right .about:hover{
    font-size: large;
    opacity: .5;
}
.navbar .right .docs{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.navbar .right .docs:hover{
    font-size: large;
    opacity: .5;
}
.navbar form{
    display: flex;
    color: rgb(198, 198, 198);
    /* flex-direction: column; */
}
.navbar form option{
    background-color: rgb(173, 255, 173);
}
.navbar form select{
    background-color: rgb(173, 255, 173);
    border: 1px solid green;
    border-radius: 5px;
    width: 40px;
    margin-left: 10px;
}
/* Navbar End */

/* Profiles container */
.profiles{
    margin-top: 120px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
}
.profiles .left{
    display: flex;
    width: 800px;
    margin-top: -270px;
    justify-content: start;
    background-color: greenyellow;
    padding: 25px;
    color: rgb(0, 85, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} 
.profiles .left img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid green;
    margin-left: 40px;
    margin-right: 40px;
}
.profiles .left .txts h2{
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.profiles .left .txts span {
    font-weight: 400;
}

.profiles .right{
    display: flex;
    margin-top: 270px;
    width: 850px;
    justify-content: end;
    background-color: greenyellow;
    padding: 25px;
    color: rgb(0, 85, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 
.profiles .right img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid green;
    margin-left: 40px;
    margin-right: 40px;
}
.profiles .right .txts h2{
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.profiles .right .txts span {
    font-weight: 400;
}

/* Profiles closes */
.cont2{
    text-align: center;
    align-items: center;
}
.cont2 span img{
    width: 900px;
    margin: 20px;
    border-radius: 20px;
}
.cont2 span{
    display: flex;
    text-align: center;
    padding: 0px 50px;
    align-items: center;
}
.cont2 h2{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    color: green ;
    font-weight: 400;
}
/* Footer opens */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image:linear-gradient(black,rgb(27, 135, 0));
    color: white;
    border-top: #222;
    z-index: 10;
    padding-top: 20px;
    margin-top: 50px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 600;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}
/* Footer closes */